.bg-heading {
  padding: 40px 50px;
  background: var(--a);
  color: var(--b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-heading h4 {
  font-size: 30px;
  text-align: center;
}

.terms-container {
  padding: 50px 200px;
  background: var(--bg);
}

.terms-container h5 {
  color: var(--p);
  font-weight: 600;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
}

.terms-container p {
  color: var(--p);
}

@media screen and (max-width: 992px) {
  .terms-container {
    padding: 50px 10px;
  }
}